.footer {
  width: 100%;
  padding: 28px 0;
  margin-top: 220px;

  text-align: center;
  font-size: 0.95rem;
  color: var(--text-secondary);

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  background: rgba(19, 20, 23, 0.6);
  backdrop-filter: blur(6px);

  box-shadow: 0 -2px 15px rgba(0, 255, 156, 0.07);
}