/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== THEME VARIABLES ===== */
:root {
  --bg-dark: #0d0e12;
  --card-dark: #131417;

  --text-primary: #eaecef;
  --text-secondary: #a0a4ac;

  --neon-green: #00ff9c;
  --neon-green-hover: #17ffa7;
}

/* ===== GLOBAL SIZING ===== */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* ===== GLOBAL THEME ===== */
body {
  font-family: "Outfit", sans-serif;
  background: var(--bg-dark) !important;
  color: var(--text-primary) !important;
  display: block !important;
}

/* root container */
#root {
  max-width: none !important;
  padding: 0 !important;
  text-align: left !important;
}

/* generic */
a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}